VITE_SUPABASE_URL="https://your-project.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="your-anon-key"
SUPABASE_URL="https://veekgitondiauaiynjzi.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_LMy70NncML5gNobxCdWj9A_Qt8Yegla"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
VITE_SUPABASE_PROJECT_ID="your-project-id"
